@import url("https://fonts.googleapis.com/css2?family=Open Sans:wght@300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans&family=Nunito&family=Poppins:wght@300;400&display=swap");

:root {
  --primary-color: hsl(26, 100%, 55%); /* Replace with your primary color */
  --secondary-color: hsl(25, 100%, 94%); /* Replace with your secondary color */
  --very-dark-blue: hsl(220, 13%, 13%);
  --dark-grayish-blue: hsl(219, 9%, 45%);
  --light-grayish-blue: hsl(223, 64%, 98%);
  --white: hsl(0, 0%, 100%);
  --black: hsl(0, 0%, 0%);
  --gray-blue: #6e788121;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  font-family: "Kumbh Sans", sans-serif;
  background-color: white;
}
.navbar {
  display: flex;
  align-items: center;
  padding: 10px;
  margin: 10px 90px;
  border-bottom: 1px solid var(--gray-blue);
}
.navbar_logo {
  display: flex;
  align-items: center;
}

.navbar_items {
  margin-left: 60px;
}

.navbar_items > a {
  justify-content: space-between;
  padding: 10px;
  text-decoration: none;
  color: var(--dark-grayish-blue);
}

.navbar_right {
  cursor: pointer;
  margin-left: auto;
}
.navbar_right > svg {
  font-size: 16px;
}
.avatar {
  max-width: 100%;
  height: auto;
  width: 20%;
}
.main {
  margin-top: 80px;
  margin-bottom: 50px;
  margin-left: 150px;
  align-items: center;
}
.section_1 {
  display: flex;
}
.section_1 img {
  border-radius: 15px;
  padding: 5px;
  max-width: 100%;
  width: 30%;
}
.section_2 {
  margin-left: 200px;
  margin-top: 80px;
}
.section_2 h5 {
  color: var(--primary-color);
  letter-spacing: 2px;
  font-weight: bold;
  margin-bottom: 20px;
}
.section_2 h1 {
  font-weight: bolder;
  margin-bottom: 40px;
  font-size: 45px;
}
.section_2 p {
  color: var(--dark-grayish-blue);
  font-size: 20px;
}
.amount {
  display: flex;
  margin-top: 20px;
}
.amount p {
  margin-left: 40px;
  font-weight: bold;
  color: var(--primary-color);
  background-color: var(--secondary-color);
  padding: 5px 10px;
  border-radius: 5px;
  margin-bottom: 10px;
}
.cancel p {
  text-decoration: line-through;
}
.values {
  display: flex;
  cursor: pointer;
  padding: 10px 0px;
}
.values button {
  border: 0;
  width: 100%;
  margin-left: 20px;
  text-align: center;
  align-items: center;
  padding: 0px 50px;
  background-color: var(--primary-color);
  color: var(--white);
  font-family: "Kumbh Sans", sans-serif;
  border-radius: 8px;
  cursor: pointer;
  font-size: 18px;
}
.counter {
  display: flex;
  background-color: var(--light-grayish-blue);
  padding: 10px;
  font-weight: bold;
  font-size: 25px;
  align-items: center;
  border-radius: 7px;
  margin-top: 10px;
  width: 100%;
}
.counter h3 {
  color: var(--primary-color);
  padding-right: 65px;
  font-size: 25px;
}

.counter h4 {
  color: var(--primary-color);
  padding-left: 70px;
  font-size: 25px;
}

.filter-images {
  display: flex;
  gap: 20px;
  margin-top: 20px;
  padding: 5px;
}

.filter-images img {
  width: 115px;
  height: 115px;
  cursor: pointer;
  border-radius: 10px;
}

.filter-images img.selected {
  border: 2px solid var(--secondary-color); /* Adjust the border color as needed */
}

/* Media query for small screens */
@media only screen and (max-width: 950px) {
  .navbar {
    display: flex; /* Stack items vertically on small screens */
    align-items: flex-start; /* Align items to the start */
    margin: 5px 0px;
  }
  .navbar_logo {
    margin: 0px;
  }
  .navbar_logo > svg {
    margin-left: 0px;
  }

  .navbar_items {
    display: none;
  }

  .navbar_right {
    /* margin-left: 100px; */
    margin-left: auto;
    display: flex;
  }
  .avatar {
    max-width: 100%;
    height: auto;
    width: 30%;
  }
  .main {
    margin: 0;
    align-items: center;
  }
  .section_1 {
    display: block;
  }
  .section_1 img {
    border-radius: 15px;
    object-fit: cover;
    width: 100%;
    margin: 0;
  }
  .section_2 h5 {
    margin-bottom: 10px;
    margin-left: 20px;
  }
  .section_2 h1 {
    margin-bottom: 10px;
    margin-left: 20px;
    font-size: 33px;
  }
  .section_2 p {
    white-space: nowrap;
    margin-left: 20px;
    font-size: 14px;
  }
  .amount {
    margin-left: 20px;
  }
  .amount p {
    align-items: center;
    padding: 5px;
  }
  .cancel p {
    display: flex;
  }
  .values {
    display: block;
  }
  .values button {
    padding: 14px;
    font-size: 14px;
    margin-top: 10px;
    width: 80%;
  }
  .counter {
    margin-left: 20px;
    justify-content: center;
    width: 80%;
  }
  .filter-images {
    display: none;
  }
}
